img { width: 100%;
                  height: 600px;
            } 
            
            .nav { font-family: fantasy;
                   background-color: #FFFAF2;
                   text-align: center;
                   position: sticky;
                   top: 0;
            }
            
            a { text-decoration: none; 
                color: #818263;
                text-shadow: 2px 0 white , -2px 0 white , 0 2px white , 0 -2px white,
                1px 1px white , -1px -1px white , 1px -1px white , -1px 1px white ;
                font-size: 30px;
            }
            
            a:link {
                    color: #818263;
                    text-decoration: none;
                    }
                    
            a:visited {
                        color: #A3CAE9;
                        }
            
            a:hover { color: #ffe9ec; 
            }
            
            a:active {
                        color: #b19cd9;
                        }
            
            h2 { text-align: center;
                 text-shadow: 2px 0 #ffe9ec , -2px 0 #ffe9ec , 0 2px #ffe9ec , 0 -2px #ffe9ec, 1px 1px #ffe9ec , -1px -1px #ffe9ec , 1px -1px #ffe9ec , -1px 1px #ffe9ec ;
                 font-size: 40px;
                 color: #C2C395;
            }
            
            h3 { text-shadow: 2px 0 #ffe9ec , -2px 0 #ffe9ec , 0 2px #ffe9ec , 0 -2px #ffe9ec, 1px 1px #ffe9ec , -1px -1px #ffe9ec , 1px -1px #ffe9ec , -1px 1px #ffe9ec ;
                 font-size: 25px;
                 color: #C2C395;
                 text-align: center;
            }
            
            .sub { text-shadow: 2px 0 #fff , -2px 0 #fff , 0 2px #fff , 0 -2px #fff, 1px 1px #fff , -1px -1px #fff , 1px -1px #fff , -1px 1px #fff ;
                 font-size: 25px;
                 color: #A3CAE9;
            }
            
            .highlight { text-shadow: 2px 0 #fff , -2px 0 #fff , 0 2px #fff , 0 -2px #fff, 1px 1px #fff , -1px -1px #fff , 1px -1px #fff , -1px 1px #fff; 
                 font-size: 25px; 
                 color: #A3CAE9;
                 font-weight: bold;
                 text-align: center; }
            
            .description { font-family: Brush Script MT; 
                           font-size: 30px;
                           text-align: center;
            }
            
            .box { background-color: #FFFAF2;   
                   border: 2px solid pink; 
                   border-radius: 15px;     
                   padding: 20px;             
                   margin: 20px auto;        
                   width: 96%;               
                   box-shadow: 3px 3px 15px pink;  
                   text-align: justify;         
                   font-size: 16px;
                   line-height: 1.6;
                   font-family: cursive;
            }
            
            p { font-family: cursive; }
            
            .left { text-align: center; }
            
            .bg { background-color: #ffe9ec;
                  border-style: dotted;
                  border-color: #818263; }
                  
            iframe { width: 710px;
                    height: 315px; }
                    
            .img2 { width: 500px;
                  height: 450px;
                  border-width: 10px;
                  border-style: solid;
                  border-color: white;
                  }
            
            .img3 { width: 450px;
                  height: 400px;
                  border-width: 10px;
                  border-style: solid;
                  border-color: white; 
                  object-fit: cover;
            }
            
            .img-wrap { position: relative;
                        display: inline-block;}

            .img-wrap::before { content: "";
                                position: absolute;
                                inset: 0;
                                background-color: white;
                                opacity: 0;
                                transition: 0.3s ease;}

            .hover-text { position: absolute;
                          top: 50%;
                          left: 50%;
                          transform: translate(-50%, -50%);
                          color: black;
                          font-size: 26px;
                          font-weight: bold;
                          letter-spacing: 2px;
                          opacity: 0;
                          transition: 0.3s ease;
                          z-index: 1; }

            .img-wrap:hover::before { opacity: 1; }

            .img-wrap:hover .hover-text { opacity: 1; }
                  
            .prof { border-radius: 50%;
                    width: 200px;
                    height: 200px; }
            
            .highlight2 { text-shadow: 2px 0 #fff , -2px 0 #fff , 0 2px #fff , 0 -2px #fff, 1px 1px #fff , -1px -1px #fff , 1px -1px #fff , -1px 1px #fff; 
                 font-size: 17px; 
                 color: #A3CAE9;
                 font-weight: bold;
                 text-align: center; }

