.nav { font-family: Helvetica;
                   background-color: white;
                   text-align: center;
                   position: sticky;
                   top: 0;
                   font-weight: bold;
            }
            
            a:link {
                    color: white;
                    text-decoration: none;
                    text-decoration: none;
                    text-shadow: 2px 0 black , -2px 0 black , 0 2px black , 0 -2px black,
                1px 1px black , -1px -1px black , 1px -1px black , -1px 1px black ;
                font-size: 25px;
                
                    }
                    
            a:visited {
                        color: #A3CAE9;
                        text-decoration: none;
                        text-shadow: 2px 0 black , -2px 0 black , 0 2px black , 0 -2px black,
                1px 1px black , -1px -1px black , 1px -1px black , -1px 1px black ;
                font-size: 25px;
                        }
            
            a:hover { color: black; 
            text-decoration: none;
            text-shadow: 2px 0 white , -2px 0 white , 0 2px white , 0 -2px white,
                1px 1px white , -1px -1px white , 1px -1px white , -1px 1px white ;
                font-size: 25px;
                background-color: #D3D3D3;
            }
            
            a:active {
                        color: #b19cd9;
                        text-decoration: none;
                        text-shadow: 2px 0 black , -2px 0 black , 0 2px black , 0 -2px black,
                1px 1px black , -1px -1px black , 1px -1px black , -1px 1px black ;
                font-size: 25px;
                        }
            
            h2 { text-align: center;
                 text-shadow: 2px 0 white , -2px 0 white , 0 2px white , 0 -2px white, 1px 1px white , -1px -1px white , 1px -1px white , -1px 1px white ;
                 font-size: 35px;
                 color: black;
                 font-family: Helvetica;
            }
            
            h3 { text-shadow: 2px 0 white , -2px 0 white , 0 2px white , 0 -2px white, 1px 1px white , -1px -1px white , 1px -1px white , -1px 1px white ;
                 font-size: 25px;
                 color: black;
                 text-align: center;
                 font-family: Helvetica;
            }
            
            .subh { text-shadow: 2px 0 black , -2px 0 black , 0 2px black , 0 -2px black, 1px 1px black , -1px -1px black , 1px -1px black , -1px 1px black ;
                 font-size: 25px;
                 color: white;
                 font-family: Helvetica;
            }
            
            .light { text-shadow: 2px 0 black , -2px 0 black , 0 2px black , 0 -2px black, 1px 1px black , -1px -1px black , 1px -1px black , -1px 1px black; 
                 font-size: 25px; 
                 color: white;
                 font-weight: bold;
                 text-align: center;
                 font-family: Helvetica;
            }
                 
            .light2 { text-shadow: 2px 0 #fff , -2px 0 #fff , 0 2px #fff , 0 -2px #fff, 1px 1px #fff , -1px -1px #fff , 1px -1px #fff , -1px 1px #fff; 
                 font-size: 17px; 
                 color: #A3CAE9;
                 font-weight: bold;
                 text-align: center;
                 font-family: Helvetica; }
            
            .script { font-family: Brush Script MT; 
                           font-size: 30px;
                           text-align: center;
                           color: white;
            }
            
            p { font-family: cursive; 
                text-align: center;
            }
            
            .left { text-align: center; }
            
            .box { background-color: gold;   
                   border: 2px solid black; 
                   border-radius: 15px;     
                   padding: 20px;             
                   margin: 20px auto;        
                   width: 96%;               
                   box-shadow: 3px 3px 15px black;  
                   text-align: justify;         
                   font-size: 16px;
                   line-height: 1.6;
                   font-family: cursive;
            }
            
            .bgbox { background-color: gold;
                  border-style: groove;
                  border-color: #818263; }
                  
            body { background-color: grey; }
                  
            img { width: 100%;
                  height: 600px;
            }
                  
            iframe { width: 710px;
                    height: 315px; }
                    
            .img2 { width: 500px;
                  height: 450px;
                  border-width: 10px;
                  border-style: solid;
                  border-color: black;
                  }
            
            .img3 { width: 450px;
                  height: 400px;
                  border-width: 10px;
                  border-style: solid;
                  border-color: white; 
                  object-fit: cover;
            }
            
            .prof { border-radius: 50%;
                    width: 200px;
                    height: 200px; }
            
            .img-wrap { position: relative;
                        display: inline-block;}

            .img-wrap::before { content: "";
                                position: absolute;
                                inset: 0;
                                background-color: white;
                                opacity: 0;
                                transition: 0.3s ease;}

            .hover-text { position: absolute;
                          top: 50%;
                          left: 50%;
                          transform: translate(-50%, -50%);
                          color: black;
                          font-size: 26px;
                          font-weight: bold;
                          letter-spacing: 2px;
                          opacity: 0;
                          transition: 0.3s ease;
                          z-index: 1; }

            .img-wrap:hover::before { opacity: 1; }

            .img-wrap:hover .hover-text { opacity: 1; }
